<div
  class="h-[100vh] w-[80px] bg-white border-r border-gray-300 flex flex-col justify-between py-5 items-center"
>
  <div>
    <i class="fa-brands fa-reddit text-3xl"></i>
  </div>

  <div class="flex flex-col gap-8 items-center">
    <div
      class="text-center w-10 h-10 rounded-full flex items-center justify-center"
    >
      <a href="/">
        <span class="material-symbols-outlined text-3xl"> house </span>
      </a>
    </div>
    <!-- <div
      class="text-center w-10 h-10 rounded-full flex items-center justify-center"
    >
    <a href="/messages">
      <i class="fa-regular fa-message text-xl"></i>
      </a>
    </div> -->
    <div
      class="text-center w-10 h-10 rounded-full flex items-center justify-center"
    >
      <i class="fa-regular fa-heart text-xl"></i>
    </div>
    <div
      class="text-center w-10 h-10 rounded-full flex items-center justify-center"
    >
      <i class="fa-solid fa-user-xmark text-xl"></i>
    </div>
  </div>

  <div
    class="text-center w-10 h-10 rounded-full flex items-center justify-center"
  >
    <i class="fa-solid fa-gear text-xl"></i>
  </div>
</div>
