<div class="w-full p-4 bg-white rounded-lg">
  <div class="flow-root">
    <ul role="list" class="divide-y w-full divide-gray-200 overflow-auto">
      <li class="pt-5 p-3 pb-0 sm:pt-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              src="https://previews.123rf.com/images/dekazigzag/dekazigzag2303/dekazigzag230300379/200559905-close-up-portrait-of-a-serious-handsome-man-looking-away-standing-isolated-on-studio-background.jpg"
              class="h-10 w-10 rounded-full object-cover border border-gray-300"
            />
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate">
              Thomes Lean
            </p>
            <p class="text-sm text-gray-500 truncate">email@windster.com</p>
          </div>
          <div
            class="inline-flex gap-3 items-center items-center text-base font-semibold text-gray-900"
          >
            <button>
              <i class="fa-regular fa-message"></i>
            </button>

            <button>
              <span class="material-symbols-outlined"> more_horiz </span>
            </button>
          </div>
        </div>
      </li>

      <li class="pt-5 p-3 pb-0 sm:pt-4">
        <div class="flex items-center space-x-4">
          <div class="flex-shrink-0">
            <img
              src="https://previews.123rf.com/images/dekazigzag/dekazigzag2303/dekazigzag230300379/200559905-close-up-portrait-of-a-serious-handsome-man-looking-away-standing-isolated-on-studio-background.jpg"
              class="h-10 w-10 rounded-full object-cover border border-gray-300"
            />
          </div>
          <div class="flex-1 min-w-0">
            <p class="text-sm font-medium text-gray-900 truncate">
              Thomes Lean
            </p>
            <p class="text-sm text-gray-500 truncate">email@windster.com</p>
          </div>
          <div
            class="inline-flex gap-3 items-center items-center text-base font-semibold text-gray-900"
          >
            <button>
              <i class="fa-regular fa-message"></i>
            </button>

            <button>
              <span class="material-symbols-outlined"> more_horiz </span>
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
